body {
    background-color: aliceblue;
    margin: 0px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;

}

/*nav {*/
/*    height: 70px;*/
/*    width: 100%;*/
/*    background-color: black;*/
/*    display:flex;*/
/*    flex-direction:row;*/
/*}*/

/*a {*/
/*    width: 50%;*/
/*}*/

#container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item {
    height: 250px;
    width: 100%;
    background-color: whitesmoke;
    border: 0.5px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    margin: 20px auto;
}

#hospital {
    height: 50px;
    background-color: whitesmoke;
    border: 0.5px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

p {
    width: 95%;
}


.text {
    background-color: antiquewhite;
    width: 95%;
    height: 95%;
}


footer {
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background-color: aquamarine;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#money {
    height: 100px;
    line-height: 100px;
    width:60%;
    background-color: white;
    text-align: center;
}

#sub {

}


a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    text-decoration: none;
    width:50%;
}

a:hover {
    color: black;
}